<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

   <parent>
        <groupId>net.tncy</groupId>
<artifactId>tncy</artifactId>
<version>2021.1</version>
    </parent>

  <groupId>net.tncy.bgi.bookmarket</groupId>
  <artifactId>bookmarket</artifactId>
  <version>1.0.0</version>
  <packaging>pom</packaging>
  <name>bookmarket</name>

   <scm>
        <connection>scm:git:https://bitbucket.org/benjamingiroux/bookstore.git/</connection>
        <developerConnection>scm:git:https://bitbucket.org/benjamingiroux/bookstore.git/</developerConnection>
        <url>https://bitbucket.org/benjamingiroux/bookstore/</url>
        <tag>bookmarket-1.0.0</tag>
    </scm>

  <modules>
   <module>bookmarket-data</module>
   <module>bookmarket-services</module>
</modules>

<dependencyManagement>
   <dependencies>
      <dependency>
         <groupId>${project.groupId}</groupId>
         <artifactId>bookmarket-data</artifactId>
         <version>${project.version}</version>
      </dependency>
   </dependencies>
</dependencyManagement>


  <distributionManagement>
<repository>
<id>nexus.tncy.eu</id>
<name>Releases</name>
<url>http://nexus.tncy.eu/repository/maven-releases/</url>
</repository>
<snapshotRepository>
<id>nexus.tncy.eu</id>
<name>Snapshots</name>
<url>http://nexus.tncy.eu/repository/maven-snapshots/</url>
</snapshotRepository>
</distributionManagement>


</project>
